;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}

;reduce number of game_text channels used

filter:
{
	"targetname" "Map_Text_Fire"
}
filter:
{
	"targetname" "Map_Text_Heal"
}
filter:
{
	"targetname" "Map_Text_Ice"
}
filter:
{
	"targetname" "Map_Text_Poison"
}
modify:
{
	match:
	{
		"classname" "game_text"
		"targetname" "Map_Text_Wind"
	}
	replace:
	{
		"targetname" "Item_Text"
		"color" "255 255 255"
		"y" "0.5"
		"message" " "
	}
	insert:
	{
		"vscripts" "paramina_items.nut"
	}
}
modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Staff_Fire_Pistol"
	}
	delete:
	{
		"OnPlayerPickup" "Map_Text_FireFireUser101"
	}
	insert:
	{
		"OnPlayerPickup" "Item_TextRunScriptCodeDisplay();01"
	}
}
modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Staff_Heal_Pistol"
	}
	delete:
	{
		"OnPlayerPickup" "Map_Text_HealFireUser101"
	}
	insert:
	{
		"OnPlayerPickup" "Item_TextRunScriptCodeDisplay();01"
	}
}
modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Staff_Ice_Pistol"
	}
	delete:
	{
		"OnPlayerPickup" "Map_Text_IceFireUser101"
	}
	insert:
	{
		"OnPlayerPickup" "Item_TextRunScriptCodeDisplay();01"
	}
}
modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Staff_Poison_Pistol"
	}
	delete:
	{
		"OnPlayerPickup" "Map_Text_PoisonFireUser101"
	}
	insert:
	{
		"OnPlayerPickup" "Item_TextRunScriptCodeDisplay();01"
	}
}
modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Staff_Wind_Pistol"
	}
	delete:
	{
		"OnPlayerPickup" "Map_Text_WindFireUser101"
	}
	insert:
	{
		"OnPlayerPickup" "Item_TextRunScriptCodeDisplay();01"
	}
}
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Staff_Fire_Case"
	}
	delete:
	{
		"OnCase01" "Map_Text_FireDisplay0.01-1"
		"OnCase01" "Map_Text_FireAddOutputmessage Fire - Level 10-1"
		"OnCase02" "Map_Text_FireDisplay0.01-1"
		"OnCase02" "Map_Text_FireAddOutputmessage Fire - Level 10-1"
		"OnCase03" "Map_Text_FireDisplay0.01-1"
		"OnCase03" "Map_Text_FireAddOutputmessage Fire - Level 20-1"
		"OnCase04" "Map_Text_FireDisplay0.01-1"
		"OnCase04" "Map_Text_FireAddOutputmessage Fire - Level 30-1"
		"OnCase05" "Map_Text_FireDisplay0.01-1"
		"OnCase05" "Map_Text_FireAddOutputmessage Fire - Level 40-1"
		"OnCase06" "Map_Text_FireDisplay0.01-1"
		"OnCase06" "Map_Text_FireAddOutputmessage Fire - Level 50-1"
	}
	insert:
	{
		"OnCase01" "Item_TextRunScriptCodeSetFireLevel(1);0-1"
		"OnCase02" "Item_TextRunScriptCodeSetFireLevel(1);0-1"
		"OnCase03" "Item_TextRunScriptCodeSetFireLevel(2);0-1"
		"OnCase04" "Item_TextRunScriptCodeSetFireLevel(3);0-1"
		"OnCase05" "Item_TextRunScriptCodeSetFireLevel(4);0-1"
		"OnCase06" "Item_TextRunScriptCodeSetFireLevel(5);0-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Staff_Heal_Case"
	}
	delete:
	{
		"OnCase01" "Map_Text_HealDisplay0.01-1"
		"OnCase01" "Map_Text_HealAddOutputmessage Heal - Level 10-1"
		"OnCase02" "Map_Text_HealDisplay0.01-1"
		"OnCase02" "Map_Text_HealAddOutputmessage Heal - Level 10-1"
		"OnCase03" "Map_Text_HealDisplay0.01-1"
		"OnCase03" "Map_Text_HealAddOutputmessage Heal - Level 20-1"
		"OnCase04" "Map_Text_HealDisplay0.01-1"
		"OnCase04" "Map_Text_HealAddOutputmessage Heal - Level 30-1"
		"OnCase05" "Map_Text_HealDisplay0.01-1"
		"OnCase05" "Map_Text_HealAddOutputmessage Heal - Level 40-1"
		"OnCase06" "Map_Text_HealDisplay0.01-1"
		"OnCase06" "Map_Text_HealAddOutputmessage Heal - Level 50-1"
	}
	insert:
	{
		"OnCase01" "Item_TextRunScriptCodeSetHealLevel(1);0-1"
		"OnCase02" "Item_TextRunScriptCodeSetHealLevel(1);0-1"
		"OnCase03" "Item_TextRunScriptCodeSetHealLevel(2);0-1"
		"OnCase04" "Item_TextRunScriptCodeSetHealLevel(3);0-1"
		"OnCase05" "Item_TextRunScriptCodeSetHealLevel(4);0-1"
		"OnCase06" "Item_TextRunScriptCodeSetHealLevel(5);0-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Staff_Ice_Case"
	}
	delete:
	{
		"OnCase01" "Map_Text_IceDisplay0.01-1"
		"OnCase01" "Map_Text_IceAddOutputmessage Ice - Level 10-1"
		"OnCase02" "Map_Text_IceDisplay0.01-1"
		"OnCase02" "Map_Text_IceAddOutputmessage Ice - Level 10-1"
		"OnCase03" "Map_Text_IceDisplay0.01-1"
		"OnCase03" "Map_Text_IceAddOutputmessage Ice - Level 20-1"
		"OnCase04" "Map_Text_IceDisplay0.01-1"
		"OnCase04" "Map_Text_IceAddOutputmessage Ice - Level 30-1"
		"OnCase05" "Map_Text_IceDisplay0.01-1"
		"OnCase05" "Map_Text_IceAddOutputmessage Ice - Level 40-1"
		"OnCase06" "Map_Text_IceDisplay0.01-1"
		"OnCase06" "Map_Text_IceAddOutputmessage Ice - Level 50-1"
	}
	insert:
	{
		"OnCase01" "Item_TextRunScriptCodeSetIceLevel(1);0-1"
		"OnCase02" "Item_TextRunScriptCodeSetIceLevel(1);0-1"
		"OnCase03" "Item_TextRunScriptCodeSetIceLevel(2);0-1"
		"OnCase04" "Item_TextRunScriptCodeSetIceLevel(3);0-1"
		"OnCase05" "Item_TextRunScriptCodeSetIceLevel(4);0-1"
		"OnCase06" "Item_TextRunScriptCodeSetIceLevel(5);0-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Staff_Poison_Case"
	}
	delete:
	{
		"OnCase01" "Map_Text_PoisonDisplay0.01-1"
		"OnCase01" "Map_Text_PoisonAddOutputmessage Poison - Level 10-1"
		"OnCase02" "Map_Text_PoisonDisplay0.01-1"
		"OnCase02" "Map_Text_PoisonAddOutputmessage Poison - Level 10-1"
		"OnCase03" "Map_Text_PoisonDisplay0.01-1"
		"OnCase03" "Map_Text_PoisonAddOutputmessage Poison - Level 20-1"
		"OnCase04" "Map_Text_PoisonDisplay0.01-1"
		"OnCase04" "Map_Text_PoisonAddOutputmessage Poison - Level 30-1"
		"OnCase05" "Map_Text_PoisonDisplay0.01-1"
		"OnCase05" "Map_Text_PoisonAddOutputmessage Poison - Level 40-1"
		"OnCase06" "Map_Text_PoisonDisplay0.01-1"
		"OnCase06" "Map_Text_PoisonAddOutputmessage Poison - Level 50-1"
	}
	insert:
	{
		"OnCase01" "Item_TextRunScriptCodeSetPoisonLevel(1);0-1"
		"OnCase02" "Item_TextRunScriptCodeSetPoisonLevel(1);0-1"
		"OnCase03" "Item_TextRunScriptCodeSetPoisonLevel(2);0-1"
		"OnCase04" "Item_TextRunScriptCodeSetPoisonLevel(3);0-1"
		"OnCase05" "Item_TextRunScriptCodeSetPoisonLevel(4);0-1"
		"OnCase06" "Item_TextRunScriptCodeSetPoisonLevel(5);0-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Staff_Wind_Case"
	}
	delete:
	{
		"OnCase01" "Map_Text_WindDisplay0.01-1"
		"OnCase01" "Map_Text_WindAddOutputmessage Wind - Level 10-1"
		"OnCase01" "Map_Text_WindAddOutputcolor2 64 180 640-1"
		"OnCase01" "Map_Text_WindAddOutputcolor 0 180 00-1"
		"OnCase02" "Map_Text_WindDisplay0.01-1"
		"OnCase02" "Map_Text_WindAddOutputmessage Wind - Level 10-1"
		"OnCase02" "Map_Text_WindAddOutputcolor2 64 180 640-1"
		"OnCase02" "Map_Text_WindAddOutputcolor 0 180 00-1"
		"OnCase03" "Map_Text_WindDisplay0.01-1"
		"OnCase03" "Map_Text_WindAddOutputmessage Wind - Level 20-1"
		"OnCase03" "Map_Text_WindAddOutputcolor2 64 180 640-1"
		"OnCase03" "Map_Text_WindAddOutputcolor 0 180 00-1"
		"OnCase04" "Map_Text_WindDisplay0.01-1"
		"OnCase04" "Map_Text_WindAddOutputmessage Wind - Level 30-1"
		"OnCase04" "Map_Text_WindAddOutputcolor2 64 180 640-1"
		"OnCase04" "Map_Text_WindAddOutputcolor 0 180 00-1"
		"OnCase05" "Map_Text_WindDisplay0.01-1"
		"OnCase05" "Map_Text_WindAddOutputmessage Wind - Level 40-1"
		"OnCase05" "Map_Text_WindAddOutputcolor2 64 180 640-1"
		"OnCase05" "Map_Text_WindAddOutputcolor 0 180 00-1"
		"OnCase06" "Map_Text_WindDisplay0.01-1"
		"OnCase06" "Map_Text_WindAddOutputmessage Gravity - Level 50-1"
		"OnCase06" "Map_Text_WindAddOutputcolor2 180 64 1800-1"
		"OnCase06" "Map_Text_WindAddOutputcolor 180 4 1800-1"
	}
	insert:
	{
		"OnCase01" "Item_TextRunScriptCodeSetWindLevel(1);0-1"
		"OnCase02" "Item_TextRunScriptCodeSetWindLevel(1);0-1"
		"OnCase03" "Item_TextRunScriptCodeSetWindLevel(2);0-1"
		"OnCase04" "Item_TextRunScriptCodeSetWindLevel(3);0-1"
		"OnCase05" "Item_TextRunScriptCodeSetWindLevel(4);0-1"
		"OnCase06" "Item_TextRunScriptCodeSetWindLevel(5);0-1"
	}
}
modify:
{
	match:
	{
		"classname" "game_text"
		"targetname" "Secret_Hudhint"
	}
	replace:
	{
		"channel" "2"
	}
}

;fix trigger_hurts
modify:
{
	match:
	{
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damagetype" "0"
	}
}

;adjust mateus hp
modify:
{
	match:
	{
		"targetname" "Boss_Hurt_Hpadd"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "Boss_Health_InitAdd820-1"
	}
	insert:
	{
		"OnStartTouch" "Boss_Health_InitAdd600-1"
	}
}

;Remove ignite when heal is level 3-5
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "Staff_Heal_Trigger_2"
	}
	delete:
	{
		"OnStartTouch" "!activatorIgniteLifetime00-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "Staff_Heal_Trigger_3"
	}
	delete:
	{
		"OnStartTouch" "!activatorIgniteLifetime00-1"
	}
}


add:
{
	"classname" "info_teleport_destination"
	"angles" "0 90 0"
	"targetname" "training_tp_dest"
	"origin" "7648 3168 193"
}

add:
{
	"classname" "logic_auto"
	"spawnflags" "1"
    "origin" "1050 1000 1000"
	connections
	{
		"OnMapSpawn" "LevelCurrentRunScriptCodelvl = 401"
	}
}

modify:
{
	match:
	{
		"targetname" "Mode_Insane"
	}
	insert:
	{
		"OnTrigger" "AFK_ShrineSpawnAddOutputtarget training_tp_dest0.02-1"
        "OnTrigger" "AFK_ShrineSpawnEnable0.1-1"
        "OnTrigger" "Fin_Boss_Countersetvalue03-1"
        "OnTrigger" "Fin_Boss_HealthTrigger_fixEnable1.01"
	}
}

modify:
{
	match:
	{
		"targetname" "Fin_Relay"
	}
	delete:
	{
		"OnTrigger" "Fin_KillKill01"
		"OnTrigger" "Stage_1_2_Brazier_Blue_Particle_UnderwaterKill01"
		"OnTrigger" "Fin_TempForceSpawn01"
		"OnTrigger" "Shrine_Spawn*Close01"
		"OnTrigger" "Fin_PropsOpen0.051"
		"OnTrigger" "Music_FinFireUser101"
		"OnTrigger" "Fin_Boss_RelayTrigger501"
		"OnTrigger" "Shrine_Gate1Close861"
		"OnTrigger" "Stage2i_CT_TriggerTouchTest941"
		"OnTrigger" "Shrine_Gate2Close51"
		"OnTrigger" "Shrine_Gate3Open51"
		"OnTrigger" "Shrine_Gate_Entrance_DownClose01"
		"OnTrigger" "Shrine_Gate_EntranceOpen01"
		"OnTrigger" "Temple_Gate_Entrance*Open01"
		"OnTrigger" "Shrine_Gate2Open47.51"
		"OnTrigger" "Temp_ExplosionAddOutputorigin 7680 160 256451"
		"OnTrigger" "Temp_ExplosionForceSpawn27.51"
		"OnTrigger" "Temp_ExplosionAddOutputorigin 8256 3072 590881"
		"OnTrigger" "Temp_ExplosionForceSpawn88.51"
		"OnTrigger" "Temp_ExplosionForceSpawn87.51"
		"OnTrigger" "Temp_ExplosionAddOutputorigin 7680 2496 224871"
		"OnTrigger" "Temp_ExplosionForceSpawn45.51"
		"OnTrigger" "Temp_ExplosionAddOutputorigin 7104 -2368 1088221"
		"OnTrigger" "Temp_ExplosionForceSpawn43.51"
		"OnTrigger" "Temp_ExplosionAddOutputorigin 7104 -2368 1088411"
		"OnTrigger" "Temp_ExplosionForceSpawn22.51"
		"OnTrigger" "Temp_ExplosionAddOutputorigin 8096 -2368 1088271"
		"OnTrigger" "Temp_ExplosionForceSpawn41.51"
		"OnTrigger" "Temp_ExplosionAddOutputorigin 7104 -2368 1088431"
		"OnTrigger" "Map_CloudsStart01"
		"OnTrigger" "AFK_ShrineDisable01"
		"OnTrigger" "AFK_ShrineKill0.11"
		"OnTrigger" "Stage_2_Laser_ParticleKill301"
		"OnTrigger" "Stage_2_Insane_Brazier_ParticleKill301"
		"OnTrigger" "Stage_2_Boss_Brazier_ParticleKill301"
		"OnTrigger" "Stage_2_Left_Brazier_ParticleKill301"
		"OnTrigger" "Stage_2_Right_Brazier_ParticleKill301"
		"OnTrigger" "AFK_Temple_UpEnable301"
		"OnTrigger" "AFK_Temple_UpAddOutputtarget TD_Fin291"
		"OnTrigger" "Temp_ExplosionAddOutputorigin 8096 -2368 1088841"
		"OnTrigger" "Temp_ExplosionAddOutputorigin 7104 -2368 108884.51"
		"OnTrigger" "Temp_ExplosionForceSpawn84.251"
		"OnTrigger" "Temp_ExplosionForceSpawn84.751"
		"OnTrigger" "Guardian_TempForceSpawn751"
		"OnTrigger" "Skybox_TempForceSpawn31"
		"OnTrigger" "Fin_Ship_Model*EnableMotion851"
		"OnTrigger" "Map_Shake_LongStartShake851"
		"OnTrigger" "S_BeamPlaySound851"
		"OnTrigger" "Map_Shake_SwordStartShake251"
		"OnTrigger" "Map_Shake_SwordStartShake501"
		"OnTrigger" "Fin_TeslaKill201"
		"OnTrigger" "Fin_Tesla_ShipsTurnOn831"
		"OnTrigger" "Fin_Tesla_ShipsTurnOff871"
		"OnTrigger" "Temple_Gate_Entrance*Close281"
		"OnTrigger" "S_Guardian1FireUser1641"
		"OnTrigger" "Map_Shake_SwordStartShake681"
		"OnTrigger" "Skybox_MoveSetSpeed2003.51"
		"OnTrigger" "Shrine_Gate2bClose51"
		"OnTrigger" "Fin_Ship_Measure*Kill84.991"
		"OnTrigger" "Fin_Ship_Move*Kill85.011"
		"OnTrigger" "Temp_Less_Lightning_MakerFireUser101"
		"OnTrigger" "TD_Fin_MoveOpen291"
		"OnTrigger" "Fin_Water_TeleportAddOutputtarget Guardian_TD761"
		"OnTrigger" "PPCSetVignetteEnd1.75501"
		"OnTrigger" "PPCSetVignetteStart1.25501"
		"OnTrigger" "PPCSetLocalContrastEdgeStrength1.5501"
		"OnTrigger" "PPCSetLocalContrastStrength1501"
	}
	insert:
	{
		"OnTrigger" "Fin_KillKill01"
		"OnTrigger" "Stage_1_2_Brazier_Blue_Particle_UnderwaterKill01"
		"OnTrigger" "Fin_TempForceSpawn01"
		"OnTrigger" "Shrine_Spawn*Close01"
		"OnTrigger" "Fin_PropsOpen0.051"
		"OnTrigger" "Music_FinFireUser101"
		"OnTrigger" "Fin_Boss_RelayTrigger51"
        "OnTrigger" "Fin_Boss_Countersetvalue05.51"
		"OnTrigger" "Shrine_Gate1Close411"
		"OnTrigger" "Stage2i_CT_TriggerTouchTest491"
		;"OnTrigger" "Shrine_Gate2Close11"
        "OnTrigger" "Shrine_Gate2Open11"
		"OnTrigger" "Shrine_Gate3Open11"
		"OnTrigger" "Shrine_Gate_Entrance_DownClose01"
		"OnTrigger" "Shrine_Gate_EntranceOpen01"
		"OnTrigger" "Temple_Gate_Entrance*Open01"
		"OnTrigger" "Map_CloudsStart01"
		"OnTrigger" "AFK_ShrineDisable01"
		"OnTrigger" "AFK_ShrineKill0.11"
		"OnTrigger" "Stage_2_Laser_ParticleKill11"
		"OnTrigger" "Stage_2_Insane_Brazier_ParticleKill11"
		"OnTrigger" "Stage_2_Boss_Brazier_ParticleKill11"
		"OnTrigger" "Stage_2_Left_Brazier_ParticleKill11"
		"OnTrigger" "Stage_2_Right_Brazier_ParticleKill11"
		"OnTrigger" "Temp_ExplosionAddOutputorigin 8096 -2368 1088391"
		"OnTrigger" "Temp_ExplosionAddOutputorigin 7104 -2368 108839.51"
		"OnTrigger" "Temp_ExplosionForceSpawn39.251"
		"OnTrigger" "Temp_ExplosionForceSpawn39.751"
		"OnTrigger" "Guardian_TempForceSpawn301"
		"OnTrigger" "Skybox_TempForceSpawn0.21"
		"OnTrigger" "Fin_Ship_Model*EnableMotion401"
		"OnTrigger" "Map_Shake_LongStartShake401"
		"OnTrigger" "S_BeamPlaySound401"
		"OnTrigger" "Map_Shake_SwordStartShake251"
		"OnTrigger" "Map_Shake_SwordStartShake501"
		"OnTrigger" "Fin_TeslaKill11"
		"OnTrigger" "Fin_Tesla_ShipsTurnOn381"
		"OnTrigger" "Fin_Tesla_ShipsTurnOff431"
		"OnTrigger" "Temple_Gate_Entrance*Close11"
		"OnTrigger" "S_Guardian1FireUser1191"
		"OnTrigger" "Map_Shake_SwordStartShake231"
		"OnTrigger" "Skybox_MoveSetSpeed2003.51"
		"OnTrigger" "Shrine_Gate2bClose51"
		"OnTrigger" "Fin_Ship_Measure*Kill39.991"
		"OnTrigger" "Fin_Ship_Move*Kill40.011"
		"OnTrigger" "Temp_Less_Lightning_MakerFireUser101"
		"OnTrigger" "TD_Fin_MoveOpen11"
		"OnTrigger" "Fin_Water_TeleportAddOutputtarget Guardian_TD311"
		"OnTrigger" "PPCSetVignetteEnd1.7551"
		"OnTrigger" "PPCSetVignetteStart1.2551"
		"OnTrigger" "PPCSetLocalContrastEdgeStrength1.551"
		"OnTrigger" "PPCSetLocalContrastStrength151"
	}
}

modify:
{
	match:
	{
		"targetname" "Win_Case"
	}
	insert:
	{
		"OnCase04" "EndRoundEndRound_Draw701"
	}
}

modify:
{
	match:
	{
		"targetname" "Auto"
	}
	delete:
	{
		"OnSpawn" "LevelWarmupTrigger31"
	}
}

add:
{
	"model" "*181"
    "classname" "trigger_multiple"
	"filtername" "Filter_Team_Humans"
	"origin" "7680 3200 224"
	"spawnflags" "1"
	"StartDisabled" "1"
	"targetname" "Fin_Boss_HealthTrigger_fix"
	"wait" "0.01"
	connections
	{
		"OnStartTouch" "Guardian_CounterAdd450-1"
        "OnStartTouch" "Fin_RelayTrigger11"
        "OnStartTouch" "!selfKill0.11"
	}
}

remove:
{
	"targetname" "Fin_Boss_HealthTrigger"
}